<%- include('partials/header') %>

<div class="jumbotron centered text-center">
    <h1 class="display-1">Jokes Center</h1>
    <p class="lead">The best place to crack your ribs and release life's pressure.</p>
    <hr class="my-4">
    <p>Open a world of Laughter.
        
    </p>

    <i class="fa-solid fa-face-grin-squint-tears fa-2xl m-4"></i>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/jokes" role="button">Explore and Enjoy<span class="material-symbols-outlined">
        arrow_forward_ios
        </span></a>
        
    </p>
    <p>
      <a class="btn btn-outline-primary btn-lg" type="button" href="/register">Register</a>
      <a class="btn btn-outline-success btn-lg" type="button" href="/login">Login</a>
    </p>
</div>

  <%- include('partials/footer') %>